.modal-body {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h1 {
      font-weight: 700;
    }
    span {
      color: #999999;
      .text-highlight {
        color: #FF8A00;
      }
    }
    .modal-subscribe {
      border: 1px solid #dee8de;
      height: 48px;
      display: flex;
      align-items: center;
      input[type="text"] {
        border: none;
        outline: none;
        margin: 0.5rem 1rem;
        min-width: 250px;
        font-size: 0.9rem;
        color: #002603;
        &::placeholder {
          color: #7F7F7F;
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
      button {
        background-color: var(--primary);
        height: inherit;
        padding-inline: 1.2rem;
        &:hover {
          background-color: var(--gray-green-7);
        }
      }
    }
    label {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }